@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: #202020;
  --primary-color: #06BA63;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 968px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 16px;
  margin: 0 auto;
}

.grid {
  display: grid;
}


h1,
h2,
h3 {
  color: white;
  margin-top: 1rem;
}

p {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1.5rem;
}

#historia{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#calcular {
  background-color: var(--primary-color);
  width: 99.1vw;
  padding: 1rem;
}

#calcular>p,
h1,
h3 {
  color: white;
}

.send-to-calculate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.send-to-calculate img {
  width: 80%;
}

#quiz {}

.image {
  width: 100%;
}

.btn-calcular {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: .5rem 2.5rem;
  gap: 3px;
  background-color: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 0.625rem;


  transition: .2s ease-in-out;
  cursor: pointer;
}

.btn-calcular:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  box-shadow: 0px 10px 11px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

.btn-primary {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: .5rem 2.5rem;
  gap: 3px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  border-radius: 0.625rem;
  background: #FFF;

  transition: .2s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 11px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

footer {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 3rem;
  gap: 1rem;
  margin-top: 4rem;
}

footer>img {
  width: 30%;
  height: 20%;
}

footer>div {
  display: flex;
  flex-direction: column;
  color: white;
}


ul>li {
  list-style-type: circle;
}


/*=============== CLOCK ===============*/
.clock__container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}


/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .send-to-calculate img {
    width: 60%;
  }

  .send-to-calculate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .lg-devices {
    width: 50vw;
    margin: 0 auto;
  }

  #quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer ul {
    margin-top: 10px;
  }

  #calcular {
    text-align: center;
  }
}